#container{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(16, 2em);
    grid-template-rows: repeat(16, 2em);
    grid-gap: 1px;
}

p{
    background-color: pink;
    margin: 0px;
}