#container{
    border: 1px solid black;
    width: 512px;
    height: 512px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    grid-gap: 0px;
    text-align: center;
}

#container.div{
    margin: 0px;
}

.blue{
    background-color: blue;
}